<body>
  <div class = "container">
    <div class = " month">
      <strong> October</strong>
      <br>
      <strong> 2018</strong>
    </div>
      <table>
        <tr>
          <th> Sun</th>
          <th> Mon</th>
          <th> Tue</th>
          <th> Wed</th>
          <th> Thu</th>
          <th> Fri</th>
          <th> Sat</th>
        </tr>
        <tr>
          <td></td>
          <td (click)="handleClick()">1</td>
          <td (click)="handleClick3()">2</td>
          <td (click)="handleClick7()">3</td>
          <td (click)="handleClick2()">4</td>
          <td (click)="handleClick3()">5</td>
          <td (click)="handleClick7()">6</td>
        </tr>
        <tr>
            <td (click)="handleClick7()">7</td>
            <td (click)="handleClick5()">8</td>
            <td (click)="handleClick1()">9</td>
            <td (click)="handleClick2()">10</td>
            <td (click)="handleClick6()">11</td>
            <td (click)="handleClick4()">12</td>
            <td (click)="handleClick5()">13</td>
          </tr>
          <tr>
              <td (click)="handleClick6()">14</td>
              <td (click)="handleClick2()">15</td>
              <td (click)="handleClick6()">16</td>
              <td (click)="handleClick5()">17</td>
              <td (click)="handleClick4()">18</td>
              <td (click)="handleClick3()">19</td>
              <td (click)="handleClickCS()">20</td>
            </tr>
            <tr>
                <td (click)="noData()">21</td>
                <td (click)="noData()">22</td>
                <td (click)="noData()">23</td>
                <td (click)="noData()">24</td>
                <td (click)="noData()">25</td>
                <td (click)="noData()">26</td>
                <td (click)="noData()">27</td> 
              </tr>
              <tr>
                  <td (click)="noData()">28</td>
                  <td (click)="noData()">29</td>
                  <td (click)="noData()">30</td>
                  <td (click)="noData()">31</td>
                  <td (click)="noData()"></td>
                  <td (click)="noData()"></td>
                  <td (click)="noData()"></td>
                </tr>
      </table>
  </div>
  <div>
    <h1 *ngIf = "c1" id = "moodOfDay">
      Morning: Sad
      <br>
      Afternoon: Happy
      <br>
      Minutes spent on app: 43 minutes
    </h1>
  </div>
  <div>
      <h1 *ngIf = "cs" id = "moodOfDay">
        Morning: Sad
        <br>
        Afternoon: Happy
        <br>
        Minutes spent on app: 
        <span id = "realTime"></span>
        minutes
      </h1>
    </div>
  <div>
      <h1 *ngIf = "c2" id = "moodOfDay">
          Morning: Angry
          <br>
          Afternoon: Anxious
          <br>
          Minutes spent on app: 18 minutes
      </h1>
    </div>
    <div>
        <h1 *ngIf = "c3" id = "moodOfDay">
            Morning: Mad
            <br>
            Afternoon: Mad
            <br>
            Minutes spent on app: 24 minutes
        </h1>
      </div>
      <div>
          <h1 *ngIf = "c4" id = "moodOfDay">
              Morning: Sad
              <br>
              Afternoon: Happy
              <br>
              Minutes spent on app: 42 minutes
          </h1>
        </div>
        <div>
            <h1 *ngIf = "c5" id = "moodOfDay">
                Morning: Sad
                <br>
                Afternoon: Sad
                <br>
                Minutes spent on app: 22 minutes
            </h1>
          </div>
          <div>
              <h1 *ngIf = "c6" id = "moodOfDay">
                  Morning: Angry
                  <br>
                  Afternoon: Happy
                  <br>
                  Minutes spent on app: 13 minutes
              </h1>
            </div>
            <div>
                <h1 *ngIf = "c7" id = "moodOfDay">
                    Morning: Happy
                    <br>
                    Afternoon: Anxious
                    <br>
                    Minutes spent on app: 43 minutes
                </h1>
              </div>
              <div>
                  <h1 *ngIf = "nd" id = "moodOfDay">
                    No Data
                  </h1>
                </div>
</body>