<h1 id = "maintext">
    How are you feeling?
</h1>
<div class="grid-container">
    <div class="grid-item">
        <button (click)="setFeelingHappy()" ><input type="image" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Emoji_Icon_34f238ed-d557-4161-b966-779d8f37b1ac_large.png?v=1513251058" width="50" height="50"/>
        </button>
    </div>

    <div class="grid-item">
        <button (click)="setFeelingSad()" class = "button"><input type="image" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Disappointed_but_Relieved_Emoji_Icon_1e554748-dab1-472b-937e-54ecd95ee75c_large.png?v=1513251033" width="50" height="50"/>
        </button>
    </div>

    <div class="grid-item">
        <button (click)="setFeelingAngry()"><input type="image" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Angry_Face_Emoji_Icon_ios10_large.png?v=1513251030" width="50" height="50"/>
        </button>
    </div>

    <div class="grid-item">
        <button (click)="setFeelingAnxious()"><input type="image" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Dizzy_Emoji_Icon_ac9b8e32-707e-4cae-9ea7-5ad1c136e2d9_large.png?v=1513251033" width="50" height="50"/>
        </button>
    </div>
</div>
