
<div *ngIf="flag">
<h1 id = "maintext">
    How are you feeling?
</h1>
<div class="grid-container">

    <div class="suggestionBox" (click)="setFeelingSad()">
        <img class="emoji" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Disappointed_but_Relieved_Emoji_Icon_1e554748-dab1-472b-937e-54ecd95ee75c_large.png?v=1513251033" width="50" height="50"/>
        <div class="emotionBox">Sad</div>
    </div>
    <div class="suggestionBox" (click)="setFeelingAngry()">
        <img class="emoji" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Angry_Face_Emoji_Icon_ios10_large.png?v=1513251030" width="50" height="50"/>
        <div class="emotionBox">Angry</div>
    </div>
    <div class="suggestionBox" (click)="setFeelingAnxious()">
        <img class="emoji" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Dizzy_Emoji_Icon_ac9b8e32-707e-4cae-9ea7-5ad1c136e2d9_large.png?v=1513251033" width="50" height="50"/>
        <div class="emotionBox">Anxious</div>
    </div>
    <div class="suggestionBox" (click)="setFeelingRestless()">
        <img class="emoji" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Flushed_Face_Emoji_large.png?v=1480481053" width="50" height="50"/>
        <div class="emotionBox">Restless</div>
    </div>
    <div class="suggestionBox" (click)="setFeelingHappy()">
        <img class="emoji" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Emoji_Icon_34f238ed-d557-4161-b966-779d8f37b1ac_large.png?v=1513251058" width="50" height="50"/>
        <div class="emotionBox">Happy</div>
    </div>
</div>
</div>

<div *ngIf="!flag"class="mainGrid">
        <h1 class="top">
            Suggested activities if you're feeling {{feeling}}:
        </h1>
        
        <div (click)="updatePoints(1)" class="suggestionBox2">
            <div class="item">
            {{ suggestion1 }}
            </div>
            <div class="whyBox">
                    Why?
            </div>
        </div>
        <div (click)="updatePoints(2)" class="suggestionBox2">
            <div class="item">
                {{ suggestion2 }}
            </div>       
            <div class="whyBox">
                Why?
                
                </div>
        </div>
        <div (click)="updatePoints(3)" class="suggestionBox2">
            <div class="item">
                {{ suggestion3 }}
            </div>
            <div class="whyBox">
                    Why?
            </div>
        </div>

        <div (click)="goBack()" class="backBox">
                Back
            </div>
         
</div>