<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="mainBox" ng-app>
        <div class="profileBar">
            <div class="w3-light-grey w3-round">
              <div class="w3-container w3-blue w3-round" style="width:25%">25%</div>
            </div><br>
        </div>
        <div class="routerBox">
        <router-outlet></router-outlet>
        </div>
        <div class="navBar">
            <div class="navTab" routerLink="/how-feeling" routerLinkActive="active">how</div>
            <div class="navTab" routerLink="/calendar" routerLinkActive="active">Calendar</div>
            <div class="navTab" routerLink="/achievement" routerLinkActive="active">Profile</div>
        </div>
    </body>
</html>
