.maintext{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 200px;
}

.total_pts{ 
    text-align: center; 
    margin:0 auto; 
    width: 50%; 
    height:30%
}

.mindful{ 
    text-align: center;
    font-size: 30px;
}

.mindful_pts{ 
    text-align: center; 
    margin:0 auto; 
    width: 50%; 
    height:30%
}

.physical { 
    text-align: center;
    font-size: 30px;

}


.physical_pts{ 
    text-align: center; 
    margin:0 auto; 
    width: 50%; 
    height:30%
}

.social { 
    text-align: center;
    font-size: 30px;

}

.social_pts{ 
    text-align: center; 
    margin:0 auto; 
    width: 50%; 
    height:30%
}

