<div class = "box maintext">
    <b>
      <p>
        Total Points
      </p>
    </b>
</div>

<div class = "box total">
   <h1> {{this.XP}} </h1>
</div>

<div class= "box mindful">
  <h1>
    <h1>Mindful Points</h1>
  </h1>
</div>

<div class = "box mindful_pts">
  <h1> {{this.mindful_pts}}
  </h1>
</div>

<div class = "box physical">
  <h1>
    <h1>Physical Points</h1>
  </h1>
</div>

<div class = "box physical_pts">
  <h1> {{this.physical_pts}}
  </h1>
</div>

<div class = "box social">
  <h1>
    <h1>Social Points</h1>
  </h1>
</div>

<div class = "box social_pts">
  <h1> {{this.social_pts}}
  </h1>
</div>