<div class = "box maintext">
      <h1>
        Total Points
      </h1>
</div>

<div class = "box total">
   <h3> {{this.XP}} </h3>
</div>

<div class= "box mindful">
  <h3>
    Mindful Points
  </h3>
</div>

<div class = "box mindful_pts">
  <h3> {{this.mindful_pts}}
  </h3>
</div>

<div class = "box physical">
  <h3>
    Physical Points
  </h3>
</div>

<div class = "box physical_pts">
  <h3> {{this.physical_pts}}
  </h3>
</div>

<div class = "box social">
  <h3>
    Social Points
  </h3>
</div>

<div class = "box social_pts">
  <h3> {{this.social_pts}}
  </h3>
</div>