<div class="box header">
    <div class ="txtbox">
        <b>
            <p>
            Hi, Whats your name?
            </p>
        </b>
    </div>
    
</div>
<div class = "box answer">
    <form>
        <div class = "form-group">
                <input type="text" id="username" ng-model="username">
        </div>
        <!-- <div class = "form-group">
                <label>Fitness Level</label>
                <label><input type="radio" name = "fitness">Starter</label>
                <label><input type="radio" name = "fitness">Intermediate</label>
                <label><input type="radio" name = "fitness">Expert</label>            
        </div> -->
        <button class = "btn btn success" id = "submitID" name="Enter" (click)="saveName()">Enter</button>
    </form>
</div>
<br>
<br>
<br>
<div class = "box">
    <button (click)="changeAvatar(1)"><img class = "gallery" src ="assets/bulldog.svg" alt="img1" width="100px" height="100px"/></button>
    <img class = "gallery" src ="assets/llama.svg" alt="img2" width="100px" height="100px" onclick="changeAvatar(2)"/>
    <img class = "gallery" src ="assets/mouse.svg" alt="img3" width="100px" height="100px" onclick="changeAvatar(3)"/>
    <img class = "gallery" src ="assets/squirrel.svg" alt="img4" width="100px" height="100px" onclick="changeAvatar(4)"/>

</div>
