<div class="box header">
    <div class ="txtbox">
        <b>
            <p>
            Hi, Whats your name?
            </p>
        </b>
    </div>
    
</div>
<div class = "box answer">
    <form>
        <div class = "form-group">
                <input type="text" id="username" ng-model="username">
        </div>
        <div class = "form-group">
                <label>Fitness Level</label>
                <label><input type="radio" name = "fitness">Starter</label>
                <label><input type="radio" name = "fitness">Intermediate</label>
                <label><input type="radio" name = "fitness">Expert</label>            
        </div>
        <button class = "btn btn success" id = "submitID" name="Enter" (click)="saveName()">Enter</button>
    </form>
</div>
<div class = "box gallery">
    
</div>
